
@charset "UTF-8";

span.textlink{
   cursor:pointer;   
}

span.textlink:hover{
   color:blue;
}

div#content{
   width:300px;
   position:fixed;
   top:200px;
   left:800px;
   background-color:#fff;
}

div#content tr td:nth-child(1){
	background-color:pink;
}