
.App {
  text-align: center;
}

body {
  padding: 20px;
}

.App > section {
  padding: 20px;
  background-color: rgb(191, 227, 233);
  border: 1px solid rgb(139, 164, 165);
  border-radius: 5px;
  margin-bottom: 10px;
}
